---
version: 1
interactions:
- request:
    body: "--dde6ff9e4657a68a34a8261b1870835574a62bdecba4d45850057d5d3e11\r\nAbspath:
      \r\nContent-Disposition: file; filename=\"\"\r\nContent-Type: application/octet-stream\r\n\r\nfile
      1 content\r\n--dde6ff9e4657a68a34a8261b1870835574a62bdecba4d45850057d5d3e11--\r\n"
    form: {}
    headers:
      Content-Disposition:
      - 'form-data: name="files"'
      Content-Type:
      - multipart/form-data; boundary=dde6ff9e4657a68a34a8261b1870835574a62bdecba4d45850057d5d3e11
    url: https://ipfs.infura.io:5001/api/v0/add?pin=true&progress=false
    method: POST
  response:
    body: |
      {"Name":"QmSFEbC6Y17cdti7damkjoqESWftkyfSXjdKDQqnf4ECV7","Hash":"QmSFEbC6Y17cdti7damkjoqESWftkyfSXjdKDQqnf4ECV7","Size":"22"}
    headers:
      Content-Type:
      - application/json
      X-Chunked-Output:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: "--1bac34a6604eda8442aa8763bcc28cf98129c8f2704c639a781759dd3a42\r\nAbspath:
      \r\nContent-Disposition: file; filename=\"\"\r\nContent-Type: application/octet-stream\r\n\r\n{\"data\":\"CAE=\",\"links\":[{\"Cid\":{\"/\":\"QmSFEbC6Y17cdti7damkjoqESWftkyfSXjdKDQqnf4ECV7\"},\"Name\":\"file1.txt\",\"Size\":22},{\"Cid\":{\"/\":\"QmVssUfKob8KkUyUiwzoGqNTKqyaEXfqxeGiUJ7ZGyfPLV\"},\"Name\":\"file2.txt\",\"Size\":22}]}\r\n--1bac34a6604eda8442aa8763bcc28cf98129c8f2704c639a781759dd3a42--\r\n"
    form: {}
    headers:
      Content-Disposition:
      - 'form-data: name="files"'
      Content-Type:
      - multipart/form-data; boundary=1bac34a6604eda8442aa8763bcc28cf98129c8f2704c639a781759dd3a42
    url: https://ipfs.infura.io:5001/api/v0/dag/put?format=protobuf&input-enc=json&pin=true
    method: POST
  response:
    body: |
      {"Cid":{"/":"QmaRt7pb5LE7991M94XzVCcZgUKPLoihD941GyFSuYBQ9Y"}}
    headers:
      Content-Type:
      - application/json
      X-Chunked-Output:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers: {}
    url: https://ipfs.infura.io:5001/api/v0/object/stat?arg=QmaRt7pb5LE7991M94XzVCcZgUKPLoihD941GyFSuYBQ9Y
    method: POST
  response:
    body: |
      {"Hash":"QmaRt7pb5LE7991M94XzVCcZgUKPLoihD941GyFSuYBQ9Y","NumLinks":2,"BlockSize":106,"LinksSize":104,"DataSize":2,"CumulativeSize":150}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://ipfs.infura.io:5001/api/v0/cat?arg=QmZgrVVH6Dp4MR4FoF5npDTtJzLneH2KvxoPHixAiucVJH%2Fsubdir%2Ffile1.txt
    method: POST
  response:
    body: file 1 content
    headers:
      Content-Type:
        - text/plain
      X-Content-Length:
        - "14"
      X-Stream-Output:
        - "1"
    status: 200 OK
    code: 200
    duration: ""
